<!DOCTYPE html>
<html lang="en">
{%load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
<table class="table">
    <thead>
     <tr>
      <th>SerialNo:</th>
      <th>title</th>
      <th>content</th>
      <th>date</th>
      <th>update</th>
      <th>delete</th>
      </tr>

    </thead>
    {% for Mode in data %}
    <tbody>
    <tr>
        <td>{{% forloop.counter}}</td>
        <td>{{Mode.title}}</td>
        <td>{{Mode.content}}</td>
        <td>{[Mode.date}}</td>
        <td><button type="button" class="btn btn-danger">Delete</button></td>
        <td><button type="button" class="btn btn-success">Update</button></td>


    </tr>
    </tbody>
    {% endfor %}
</table>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>